/*---------------------------start reset------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*---------------------------end reset------------------------*/

.top{
	background-color: #f27152;
	text-align: center;
}

.top img{
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 100%;
}

.bottom{
	background-color: blue;
	
	
}

.bottom-content{
	padding: 1em;
	max-width: 720px;
}

body{
    font-family: 'Lato', sans-serif;
}

h5{
	font-size: 1.5em;
	color: #f27152;
	padding-top: 2em;
	line-height: 1.4em;
	letter-spacing: 0.01em;
}

p{
	font-size: 1.1em;
	color: #534d4c;
	padding-top: 1em;
	line-height: 1.5em;
}

input [type=submit]{
	background-color: #f27152;
	color: white;
	padding: 1em;
	border: none;
	border-radius: 3px;
	margin-top: 1em;
}

input [type=text]{
	padding: 0.5em;
	margin-top: 1em;
}